body {
    display: flex;
    justify-content: center;

    font-size: 1.5rem;
    font-weight: bold;
}

.overlay {
    width: 700px;
    height: 700px;
    border: 1px solid black;
}

.name,
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid black;
}

.displey_choice,
.score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
}

.displey_choice {
    border-bottom: 1px solid black;
}

.displey_choice p,
.score p {
    white-space: pre-line;
    text-align: center;
}

.whos_win {
    display: flex;
    justify-content: center;
    align-items: center;

    pad: 1rem;
    border-bottom: 1px solid black;
}
